<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="OpacitySetting" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="TodoSetting1" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoSetting2" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoSetting3" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoSetting4" serializeAs="String">
                <value />
            </setting>
            <setting name="TodoSetting5" serializeAs="String">
                <value />
            </setting>
            <setting name="PicLoad" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="StartHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="FormLength" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomBar" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomBar2" serializeAs="String">
                <value />
            </setting>
            <setting name="JoPaSa" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify1" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify2" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify3" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify4" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify5" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify6" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify7" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify8" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify9" serializeAs="String">
                <value />
            </setting>
            <setting name="Notify10" serializeAs="String">
                <value />
            </setting>
            <setting name="Info1" serializeAs="String">
                <value />
            </setting>
            <setting name="Info2" serializeAs="String">
                <value />
            </setting>
            <setting name="Info3" serializeAs="String">
                <value />
            </setting>
            <setting name="Info4" serializeAs="String">
                <value />
            </setting>
            <setting name="Info5" serializeAs="String">
                <value />
            </setting>
            <setting name="Info6" serializeAs="String">
                <value />
            </setting>
            <setting name="Info7" serializeAs="String">
                <value />
            </setting>
            <setting name="Info8" serializeAs="String">
                <value />
            </setting>
            <setting name="Info9" serializeAs="String">
                <value />
            </setting>
            <setting name="Info10" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWebSite" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>
